*
{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body
{
    margin: auto;
    max-width: 60em;
    
    color: #111;
    font-family: cambria;
}

section
{
    margin: 2em;
}

h1
{
    text-align: center;
}

table
{
    margin: auto;
}

table   td
{
    width: 20%;
    height: 7em;
    padding: 0.5em;
    
    font-size: 0.8em;
    text-align: center;
    
    border-width: 1px;
    border-color: #111;
    border-style: solid;
}

table   td   a
{
    color: inherit;
    text-decoration: none;
}

button
{
    width: 6em;
    margin: auto;
    display: block;
    padding: 0.25em;
    
    font: inherit;
}

small
{
    margin: auto;
    display: block;
    max-width: 30em;
    
    text-align: center;
    font-style: italic;
}

@media print {
    .do-not-print {
        display: none;
    }
}
